{% extends 'base.html' %}
{% block title %}
    {{ group }}
{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <style>
        h1 {
            font-size: 45px;
            margin-left: 5vw;
            margin-top: 10vh;
        }

        .lang {
            margin-left: 5vw;
        }

        .studnum {
            margin-top: 7vh;
        }


        ol {
            font-weight: 600;
            width: 400px;
        }

        .main {
            display: flex;
        }

        .right {
            display: flex;
            flex-direction: column;
        }

        .knopki {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }

        .knopki a {
            color: white;
            background-color: #ffa801;
            border-radius: 30px;
            padding: 15px;
            font-weight: 700;
            margin-top: 3vh;
        }

        .knopki a:hover {
            background-color: #2ecc71;
            transition: 0.3s;
        }

        ol {
            list-style-type: none;
        }

        .pp {
            font-weight: 700;
            font-size: 30px;
        }

        .lesson li {
            margin-top: 5vh;
        }

        .left {
            margin-top: 0;
        }

        .lesson {
            width: 65vw;
            display: flex;
            margin-top: 7vh;
            margin-left: 150px;
            border: 3px solid #ffa801;
            border-radius: 30px;
            padding: 20px 20px 4vh;
        }

        .lesson_title {
            color: black;
        }

        .studs {
            margin-left: auto;
            margin-right: auto;

        }

        .teacherbar {
            display: flex;
            text-align: center;
            margin-top: 7vh;
        }

        .teacherbar a {
            width: 400px;
        }
    </style>

{% endblock %}
{% block content %}
    <h1>{{ group.course }}</h1>

    <p class="lang">Language: {{ group.language }}</p>
    <p class="lang">Teacher: {{ group.course.teacher }} - <a
            href="mailto:{{ group.course.teacher.user.username }}">{{ group.course.teacher.user.username }}</a></p>
    <div class="main">
        <div class="left">
            <div class="lesson">
                <div class="left">
                    {% if lesson_count != 0 %}
                        <p class="pp">Lessons: </p>
                        <ol>
                            {% for lesson in lessons %}
                                <li><a class="lesson_title" href="{% url 'lesson_detail' lesson.pk %}">{{ lesson.time }}</a></li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p>You don't have any lesson</p>
                    {% endif %}
                </div>
                <div class="right">
                    {% if assignment_count != 0 %}
                        <p class="pp">Assignments: </p>
                        <ol>
                            {% for assignment in assignments %}
                                <li>
                                    <a href="{% url 'assignment_detail' assignment.pk %}">{{ assignment }}</a> -
                                    {% if assignment.submission %}
                                        <strong style="color: #2ecc71">Submitted</strong>
                                    {% else %}
                                        <strong style="color: red">Not submitted</strong>
                                    {% endif %} -
                                    {% if assignment.grade %}
                                        <em style="color: deepskyblue">Graded - {{ assignment.grade }}</em>
                                    {% else %}
                                        <em style="color: grey">Not graded</em>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p>You don't have any assignment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if request.user.groups.first.name != 'student' and teacher.pk == group.course.teacher.pk %}
        <div class="teacherbar">
            <ol class="studs">
            <p class="studnum">Students ({{ group.number_of_students }}): </p>
                {% for student in group.students.all %}
                    <li class="stud">{{ student }} - <a
                            href="mailto:{{ student.user.username }}">{{ student.user.username }}</a></li>
                {% endfor %}
            </ol>
            <div class="knopki">
                <a href="{% url 'create_lesson' group.pk %}">Add lesson</a>
                <a href="{% url 'create_assignments' group.pk %}">Add assignment for all students</a>
                <a href="{% url 'create_assignment' group.pk %}">Add assignment for particular student</a>
                <a href="{% url 'delete_group' group.pk %}">Delete group</a>
            </div>
        </div>
    {% endif %}
{% endblock %}