{% extends 'base.html' %}
{% block title %}
    {{ group }}
{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <style>
        h1 {
            font-size: 45px;
            margin-left: 5vw;
            margin-top: 10vh;
        }

        .lang {
            margin-left: 5vw;
        }

        .studnum {
            margin-top: 7vh;
        }

        .studs {
            margin-top: 3vh;
        }

        ol {
            font-weight: 600;
            width: 400px;
        }

        .main {
            display: flex;
        }

        .right {
            display: flex;
            margin-left: 10vw;
            flex-direction: column;
        }

        .right a {
            color: white;
            background-color: #ffa801;
            border-radius: 30px;
            padding: 15px;
            font-weight: 700;
            margin-top: 3vh;
        }

        .right a:hover {
            background-color: #2ecc71;
            transition: 0.3s;
        }

        .lesson {
            display: flex;
        }

        ol {
            list-style-type: none;
        }

        .pp {
            font-weight: 700;
            font-size: 30px;
        }

        .lesson li {
            margin-top: 2vh;
        }

        .lesson {
            border: 3px solid #ffa801;
            width: 50vw;
            border-radius: 30px;
            padding: 20px;
        }

        .lesson a:visited {
            color: blue;
        }

    </style>

{% endblock %}
{% block content %}
    <h1>{{ group.course }}</h1>

    <p class="lang">Language: {{ group.language }}</p>
    <p class="lang">Teacher: {{ group.course.teacher }}</p>
    <div class="main">
        <div class="left">
            <div class="lesson">
                <div class="lesson left">
                    {% if lesson_count != 0 %}
                        <p class="pp">Lessons: </p>
                        <ol>
                            {% for lesson in lessons %}
                                <li><a href="{% url 'lesson_detail' lesson.pk %}">{{ lesson.time }}</a></li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p>You don't have any lesson</p>
                    {% endif %}
                </div>
                <div class="lesson right">
                    {% if assignment_count != 0 %}
                        <p class="pp">Assignments: </p>
                        <ol>
                            {% for assignment in assignments %}
                                <li>
                                    <a href="{% url 'assignment_detail' assignment.pk %}">{{ assignment }}</a> -
                                    {% if assignment.submission %}
                                        <strong style="color: #2ecc71">Submitted</strong>
                                    {% else %}
                                        <strong style="color: red">Not submitted</strong>
                                    {% endif %} -
                                    {% if assignment.grade %}
                                        <em style="color: deepskyblue">Graded - {{ assignment.grade }}</em>
                                    {% else %}
                                        <em style="color: grey">Not graded</em>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p>You don't have any assignment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if request.user.groups.first.name != 'student' and teacher.pk == group.course.teacher.pk %}
        <p class="studnum">Students ({{ group.number_of_students }}): </p>
        <ol class="studs">
            {% for student in group.students.all %}
                <li class="stud">{{ student }}</li>
            {% endfor %}
        </ol>
        <div class="right">
            <a href="{% url 'create_lesson' group.pk %}">Add lesson</a>
            <a href="{% url 'create_assignments' group.pk %}">Add assignment for all students</a>
            <a href="{% url 'create_assignment' group.pk %}">Add assignment for particular student</a>
            <a href="{% url 'delete_group' group.pk %}">Delete group</a>
        </div>
    {% endif %}
{% endblock %}