{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        input{
            border: 2px solid #ffa801;
        }
        textarea {
            border: 2px solid #ffa801;
        }
        form {
            text-align: center;
            width: 400px;
            border-radius: 50px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10vh;
        }
        input[type="submit"]{
            padding: 10px;
            border: none;
            background-color: #2ecc71;
            font-size: 25px;
            color: white;
            border-radius: 30px;
            font-weight: 700;

            margin-left: 5vw;
            margin-top: 5vh;
        }

        input[type="submit"]:hover {
            background-color: #ffa801;
            transition: 0.2s;
        }

        p {
            font-size: 25px;
            margin-left: 5vw;
            margin-top: 10vh;
        }

        input[type="file"]{
            border: none;
            margin-left: 1vw;
        }

        form a {
            font-size: 15px;
        }

    </style>
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}