{% extends 'base.html' %}
{% load static %}
{% block title %}C++{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="login">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="email" class="email" placeholder="email">

            <input type="password" name="password" class="password" placeholder="password">

            <input type="submit" value="Login">
        </form>
    </div>
    <script>
        {% for message in messages %}
            window.alert('{{ message }}');
        {% endfor %}
    </script>
{% endblock %}