{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        .name > a {
            color: #ffa801;
        }

        .course > * {
            text-align: center;
        }
        .course > .description {
            margin: 10px;
        }

        .mycourses{
            color: #ffa801;
            font-weight: bolder;
            font-size: 50px;
            margin-left: 5vw;
        }

        .courses{
            flex-wrap: wrap;
            margin-top: 0;
        }

        .course {
            margin-top: 5vh;
            flex-basis: 25%;
        }

        .addcourse {
            box-sizing: border-box;
            border: 2.5px solid #ffa801;
        }

        .addcourse > .plus {
            font-size: 75px;
            color: #ffa801;
        }
        .addcourse > .createnewcourse {
            color: #ffa801;
            font-weight: bolder;
            font-size: 25px;
        }
        .edit {
            font-weight: bolder;
            color: #ffa801;
            border: 2.5px solid #ffa801;
            border-radius: 30px;
            padding: 10px;
        }

        .editp{
            margin-top: 2vh;
        }

        .edit:hover{
            background-color: #ffa801;
            color: white;
            transition: 0.2s;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main-info">
        <div class="left">
            <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
    <p class="editp"><a class="edit" href="{% url 'edit_profile' %}">Edit Profile</a></p>
            <div class="info">
                <p>{{ teacher.about_me }}</p>
            </div>
        </div>

        <div class="right">
            <img src="{{ teacher.profile_picture.url }}" alt="profile picture" class="profile-pic">
        </div>
    </div>

    <p class="mycourses">My Courses</p>
    <div class="courses">
        {% for course in courses %}
            <div class="course">
                <p class="name"><a href="{% url 'course_detail' course.pk %}">{{ course.course_name }}</a></p>
                <p class="description">{{ course.about_course }}</p>
                <p class="time">{{ course.start_date.date }}</p>
            </div>
        {% endfor %}
        <div class="course addcourse" onclick="window.location.href = '{% url 'create_course' %}';">
            <p class="plus">+</p>
            <p class="createnewcourse">Create new course</p>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}