{% extends 'base.html' %}
{% load static %}
{% block title %}Course{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/coursestyle.css' %}">

    <style>
        .buttons {
            display: flex;
            margin-bottom: 3vh;
            margin-top: 3vh;
        }

        .delete {
            padding: 10px;
            margin-right: 2vw;
            border: none;
            background-color: #e74c3c;
            font-size: 25px;
            color: white;
            border-radius: 30px;
            font-weight: 700;
            margin-top: 5vh;
        }

        .update {
            padding: 10px;
            margin-right: 2vw;
            border: none;
            background-color: #ffa801;
            font-size: 25px;
            color: white;
            border-radius: 30px;
            font-weight: 700;
            margin-top: 5vh;
        }

        .update:hover {
            background-color: #f39c12;
        }

        .delete:hover {
            background-color: #c0392b;
        }

        .mygroups {
            background-color: #2ecc71;
        }

        .mygroups:hover {
            background-color: #27ae60;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="course-main">
        <div class="main-info">
            <div class="left">
                <div class="course-name">{{ course.course_name }}</div>
                {% if request.user == course.teacher.user %}
                    <div class="buttons">
                        <p><a href="{% url 'delete_course' course.pk %}" class="delete">Delete</a></p>
                        <p><a href="{% url 'update_course' course.pk %}" class="update">Edit</a></p>
                        <p><a href="{% url 'my_groups' course.pk %}" class="update mygroups">My Groups</a></p>
                    </div>
                {% endif %}
                <div class="slots">Classes in a group of {{ course.max_students }} people</div>


            </div>
            <div>
                <img src="{{ course.teacher.profile_picture.url }}" alt="Teacher"
                     style="margin-left: 300px; margin-top: 150px; width: 150px">
                <div class="tutor-name" style="margin-top: 0">{{ course.teacher }}</div>
            </div>
        </div>

        <div class="about-course">
            <p>{{ course.about_course }}</p>
        </div>


        <div class="course-syllabus">
            <p>Course Syllabus</p>

            <div class="topics">
                {% for topic in topics %}
                    <p>{{ topic }}</p>
                {% endfor %}
            </div>
        </div>
        {% if request.user.groups.first.name == 'student' %}
            <div class="apply">
                <form method="post" action="{% url 'create_group' course.pk %}">
                    {% csrf_token %}
                    <label for="language_id">
                        <p>Select language:
                            <select name="language" required id="language_id">
                                {% for language in languages %}
                                    <option value="{{ language }}">{{ language }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </label>
                    <input type="submit" value="Apply" class="applybutton">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}