{% extends 'base.html' %}
{% block title %}Updating {{ course }}{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        input {
            border: none;
            border-bottom: 2px solid #ffa801;
            margin-left: 5vw;
        }

        textarea {
            border: 2px solid #ffa801;
        }

        form {
            font-size: 20px;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10vh;
        }

        input[type="submit"] {
            padding: 10px;
            border: none;
            background-color: #2ecc71;
            font-size: 25px;
            color: white;
            border-radius: 30px;
            font-weight: 700;

            margin-left: 5vw;
            margin-top: 5vh;
        }

        input[type="submit"]:hover {
            background-color: #ffa801;
            transition: 0.2s;
        }

        input[type="file"] {
            border: none;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
    <script>
        // make setting start and end date date fields
        const fields = document.getElementsByTagName('input');
        fields[3].type = "date";
        fields[3].value = '{{ start_date }}';
        fields[4].type = "date";
        fields[4].value = '{{ end_date }}';

        // hide teacher selection and set it to registered teacher
        document.getElementsByTagName('label')[3].hidden = true;
        const select_teacher = document.getElementById('id_teacher');
        select_teacher.hidden = true;
        select_teacher.innerHTML = '<option value="{{ teacher_id }}" selected></option>'
    </script>
{% endblock %}