{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/searchstyle.css' %}">

    <style>

        p{
            margin-top: 3vh;
            font-size: 20px;
        }
        .footer{
            height: 15vh;
        }
        .search {
            border: 2px solid #ffa801;
            text-align: center;
            width: 600px;
            border-radius: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
        }

        input[type="submit"]{
            margin-top: 4vh;
            border: none;
            background-color: #2ecc71;
            font-weight: bold;
            color: white;
            border-radius: 30px;
            padding: 15px;
            font-size: 20px;
            margin-bottom: 2vh;
        }

        input[type="submit"]:hover{
            background-color: #ffa801;
            transition: 0.2s;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'education/search_form.html' %}
    <div class="results">
        {% if not courses %}
            <p>No courses was found</p>
        {% else %}
            {% for course in courses %}
                <div class="course-box">
                    <div class="course-info">
                        <div class="left">
                            <div class="course-name"><a
                                    href="{% url 'course_detail' course.pk %}">{{ course.course_name }}</a></div>
                            <div class="course-author">{{ course.author }}</div>
                            <div class="course-author">{{ course.languages }}</div>
                            <div class="course-time">{{ course.start_date }} - {{ course.end_date }}</div>
                        </div>
                    </div>
                    <div class="course-price">{{ course.price }}/month</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="footer"></div>
{% endblock %}