<div class="search">
    <form method="get" action="{% url 'search' %}">
        {{ my_filter.form.as_p }}
        <input type="submit" value="search">
    </form>
</div>

<script>
    const form_fields = document.getElementsByTagName('input');
    form_fields[2].type = "date";
    form_fields[3].type = "date";
    form_fields[4].type = "number";
    form_fields[5].type = "number";
    const form_labels = document.getElementsByTagName('label');
    form_labels[0].innerText = "Course: ";
    form_labels[1].innerText = "Language: ";
    form_labels[2].innerText = "Start date of a course: ";
    form_labels[3].innerText = "End date of a course: ";
    form_labels[4].innerText = "Minimum number of students: ";
    form_labels[5].innerText = "Maximum number of students: ";
    form_labels[6].innerText = "Minimum price: ";
    form_labels[7].innerText = "Maximum price: ";
</script>
